@font-face {
    font-family: 'Play';
    font-weight: 400;
    font-style: normal;
    src: url('./assets/fonts/Play-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Play Bold';
    font-weight: 700;
    font-style: normal;
    src: url('./assets/fonts/Play-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Poppins Medium';
    font-weight: 400;
    font-style: normal;
    src: url('./assets/fonts/Poppins/Poppins-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Poppins Bold';
    font-weight: 400;
    font-style: normal;
    src: url('./assets/fonts/Poppins/Poppins-ExtraBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Poppins Light';
    font-weight: 400;
    font-style: normal;
    src: url('./assets/fonts/Poppins/Poppins-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Playfair Display SC';
    font-weight: 400;
    font-style: normal;
    src: url('./assets/fonts/Playfair_Display_SC/PlayfairDisplaySC-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Lora';
    font-weight: 400;
    font-style: normal;
    src: url('./assets/fonts/Lora-VariableFont_wght.ttf') format('truetype');
}

@font-face {
    font-family: 'Fast';
    font-weight: 400;
    font-style: normal;
    src: url('./assets/fonts/Faster_One/FasterOne-Regular.ttf') format('truetype');
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    background-color: #323335;
    height: 100%;
    /* max-width: 1000px; */
    color: white;
    margin: auto;
    /* padding-left: 20px;
    padding-right: 20px; */
}



img,
canvas {
    max-width: 100%;
    height: auto;
}

h1 {
    font-family: 'Space Mono', cursive;
}

.titleBox {
    text-align: center;
}

.fastTitle {
    color: red;
    font-size: 60px;
    display: inline-block;
    font-family: 'Fast';
}

.foodTitle {
    color: orange;
    font-size: 50px;
    display: inline-block;
    font-family: 'Play Bold';
    padding-left: 10px;

}

.rateBox {
    margin: auto;
    width: 70%;
}

.rating {
    font-size: 20px;
    text-align: left;
}

.head {
    font-size: 50px;
    text-align: center;
    font-weight: 700;
    font-family: 'Poppins';
}

.about {
    text-align: left;
    margin-right: 500px;
    font-family: 'Poppins';
}

.subtitle {
    font-size: 20px;
    font-weight: 700;
    font-family: 'Poppins';

}

.text {
    color: white;
    font-size: 15px;
    font-family: 'Poppins';

}

.meet {
    text-align: left;
    margin: right 100px;
    font-family: 'Poppins';
}

.canvas {
    padding-top: 0px;
}

.container {
    display: flex;
    flex-direction: row;
    height: auto;
    padding: 10px;
    justify-content: center;
}

.column {
    display: flex;
    flex-direction: column;
    padding-left: 50px;
    padding-right: 50px;
    width: 400px;
    padding-bottom: 40px;
    ;
}

.box1 {
    border-style: solid;
    border-width: 10px;
    border-color: rgb(199, 121, 20);
    padding: 10px;
}

.box2 {
    margin-top: 40px;
    border-style: solid;
    border-width: 10px;
    border-color: rgb(199, 121, 20);
    padding: 10px;
}


.header {
    font-weight: bold;
    text-transform: capitalize;
    font-size: 30px;
    text-decoration-line: underline;
}

.subtext {
    text-transform: lowercase;
    font-size: 30px;
}

.section2 {
    margin: auto;
    width: 70%;
}

.subtitle {
    font-size: 60px;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 50px;
}

.column2 {
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.object {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 500px;
}

.header2 {
    font-size: 40px;
    font-family: 'Poppins Bold';
    text-decoration-line: underline;
}

.subtext2 {
    font-size: 25px;
    font-family: 'Lora';
}

.section3 {
    padding-top: 20px;
    margin: auto;
    width: 70%;
    font-family: 'Poppins';
}

.object2 {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 600px;
}

.name {
    font-family: 'Poppins Medium';
    font-size: 30px
}

.role {
    font-family: 'Playfair Display SC';
    font-size: 20px
}

.description {
    font-family: 'Lora';
    font-size: 25px
}

#thumbUP {
    width: 40px;
    background: none;
    /* height: 30px;
    background: url(./assets/thumb-up.png); */
    /* background-size: 50%;
    background-repeat: no-repeat; */
    border: none;
    cursor: pointer;
    fill: red;
}

#thumbDOWN {
    width: 40px;
    height: 30px;
    background: url(./assets/thumb-up.png);
    background-size: 50%;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
}