@font-face {
    font-family: 'Play';
    font-weight: 400;
    font-style: normal;
    src: url('./assets/fonts/Play-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Play';
    font-weight: 700;
    font-style: normal;
    src: url('./assets/fonts/Play-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Poppins';
    font-weight: 400;
    font-style: normal;
    src: url('./assets/fonts//Poppins.zip') format('truetype');
}

html {
    box-sizing: border-box;
    height: 100%;
    background-color: #323335;
    color: white;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    height: 100%;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}

img,
canvas {
    max-width: 100%;
    height: auto;
}

h1 {
    font-family: 'Space Mono', cursive;
}

.fastTitle {
    color: red;
}

.head{
font-size:25px;
text-align:center;
font-weight: 700;
font-family: 'Poppins';
}

.about{
    text-align:left;
    margin-right:500px;
    font-family: 'Poppins';
}

.subtitle{
    font-size:20px;
    font-weight: 700;
    font-family: 'Poppins';

}

.text{
    color:white;
    font-size:15px;
    font-family: 'Poppins';

}

.meet{
    /* text-align:left; */
    margin-right:500px;
    font-family: 'Poppins';
}
